/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
body {
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #7f7fd5);
}





/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

