<div class="w-full p-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 justify-center items-center">
    
    <!-- Card 1 -->
    <div class="w-full max-w-md mx-auto rounded-xl overflow-hidden shadow-lg bg-white animate-pulse">
      <img class="w-full h-40 object-cover" src="btech.jpeg" alt="B.Tech">
      <div class="px-4 py-4 text-center ">
        <div class="font-bold text-lg mb-2">Narasaraopeta Engineering College</div>                                      
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">COURSE</span>: B.TECH</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">BRANCH</span>: ECE</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">CGPA</span>: 8.9</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">University</span>: JNTUK</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">PassedoutYear</span>:2020-2024</h3>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="w-full max-w-md mx-auto rounded-xl overflow-hidden shadow-lg bg-white animate-pulse">
      <img class="w-full h-40 object-cover" src="inter.png" alt="Intermediate">
      <div class="px-4 py-4 text-center">
        <div class="font-bold text-lg mb-2">Sri Chaitanya Junior College</div>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">COURSE</span>: Intermediate</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">BRANCH</span>: MPC</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">CGPA</span>: 8.9</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">BOARD</span>: AP</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">passedoutYear</span>:2018-2020</h3>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="w-full max-w-md mx-auto rounded-xl overflow-hidden shadow-lg bg-white animate-pulse">
      <img class="w-full h-40 object-cover" src="school.png" alt="School">
      <div class="px-4 py-4 text-center">
        <div class="font-bold text-lg mb-2">St. Mary's  ENGLISH MEDIUM HIGH SCHOOL</div>
        <h3 class="text-gray-700 text-sm"></h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">CGPA</span>: 9.8</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">BOARD</span>:state board</h3>
        <h3 class="text-gray-700 text-sm"><span class="text-l text-black font-bold">PassedoutYear</span>:2017-2018</h3>
      </div>
    </div>

  </div>
</div>
