<div class="flex justify-between items-center py-5 gap-3">
        <img src="developer.jpg" alt="" class="rounded-2xl ps-6 h-2/12 w-2xl ">
        <p class="  text-l text-black justify-evenly">I am a passionate Frontend Developer with expertise in HTML, CSS, JavaScript, TypeScript, and Angular, complemented by a strong foundation in Python. I specialize in building responsive, dynamic, and user-friendly web applications with clean and efficient code.Proficient in Angular, I create modular and scalable applications, leveraging TypeScript for robust typing and enhanced code quality. I craft visually appealing UIs using modern CSS techniques and ensure seamless interactivity with JavaScript.
             My skills include developing responsive layouts, optimizing performance, and implementing RESTful APIs for dynamic data rendering. I am committed to delivering accessible, cross-browser compatible, and high-performance web solutions.</p>
</div>
<div class="flex justify-center">
<div class="flex justify-center border border-blue-300 gap-2 w-8xl">
    <button class=" bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-l h-10"><a routerLink="Education">Education</a></button>
    <button class="bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-r hover:shadow-2xl transition duration-300 ease-in-out h-10" >
        <a routerLink="Strengths">Strengths</a></button>
    <button class="bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-l h-10 "><a routerLink="Achivements">Achivements</a></button>
    <button class="bg-blue-800 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-r h-10"><a routerLink="Internship">Internship</a>
        </button>


        <router-outlet />
</div>
</div>

     

